.container-apps {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 266px;
	width: 1156px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    gap: 71px;
	.text2 {
		@include font18;
		margin-bottom: 40px;
	}
	@media (max-width: 1200px) {		
		max-width: 60%;
		padding: 10px;			
	}
	@media (max-width: 992px) {		
		max-width: 70%;	
		flex-direction: column;	
		padding: 10px;
		align-items: flex-start;
		gap: 30px;
		margin-bottom: 40px;
	}
	@media (max-width: 768px) {		
		max-width: 80%;
		flex-direction: column;	
		flex-wrap: wrap;
		padding: 10px;
		align-items: flex-start;
		gap: 30px;
		margin-bottom: 40px;
	}
	@media (max-width: 576px) {		
		max-width: 90%;	
		flex-direction: column;
		flex-wrap: wrap;
		padding: 10px;
		align-items: flex-start;
		gap: 30px;
		margin-bottom: 40px;		
	}
}
.download {
	width: 254px;
	@include font_H2;
	line-height: 1.33;
	text-align: start;
	&::after {
		@include border;
		margin-bottom: 31px;
		margin-left: 0px;
	}
	@media (max-width: 1200px) {		
		max-width: 60%;			
	}
	@media (max-width: 992px) {		
		max-width: 70%;
	}
	@media (max-width: 768px) {		
		max-width: 80%;
	}
	@media (max-width: 576px) {		
		max-width: 90%;	
	}
}
.link3 {
	@include button;
	justify-content: space-between;
	background-color: inherit;
	color: #458FF6;
	border-width: 1.4px;
	border-style: solid;
	border-color: #458FF6;
	.vector {
		margin: 20px;
	}
	@media (max-width: 576px) {
		max-width: 100%;
	}
}
